# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.pnpm-store/
.parcel-cache/
dist/
.DS_Store
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/

# Logs
logs
*.log

# Docker
docker-data/

# Misc
Thumbs.db
.vercel
.netlify